.home {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: black;
	align-items: center;
	width: auto;
}

.home-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 75vh;
	width: 75%;
	color: white;
	position: relative;
	background: black;

	div {
		display: flex;
		flex-direction: column;
		gap: 1.5rem 0;
		place-content: center;
		place-items: start;

		h1 {
			font-size: 3rem;
		}

		p {
			font-size: 1.1rem;
			color: #aeaeae;
		}

		span {
			color: #ffc800;
		}

		button {
			font-size: 1rem;
			border-radius: 4px;
			font-weight: bold;
			border: none;
			padding: 1rem 1.3rem;
			background-color: #ffc800;
			cursor: pointer;

			&:hover {
				background-color: #e7a50c;
			}
		}
	}

	img {
		height: 88vh;
		width: 40%;
		object-fit: cover;
		right: 0rem;
		position: absolute;
		object-position: center center;
	}
}

.bike-example {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background: white;
	color: black;
	padding: 8rem 0;

	h1 {
		margin-left: 11rem;
		align-self: start;
		font-size: 3rem;
	}

	span {
		color: #ffc800;
	}

	.ex-card-container {
		display: flex;
		padding: 3rem 4rem;
		gap: 2rem;
	}

	.bike-card {
		display: flex;
		flex-direction: column;
		gap: 1rem 0;
		position: relative;
		cursor: pointer;
		transition: 0.2s ease;

		&:hover {
			h2 {
				margin-left: 2.5rem;
				transition: 0.2s ease;
			}
			p {
				margin-left: 2.5rem;
				transition: 0.2s ease;
				color: green;
			}

			h2::before {
				content: '';
				width: 2.3rem;
				height: 1.5rem;
				background-color: #ffc800;
				position: absolute;
				top: 1;
				left: -0.5rem;
				transition: 0.2s ease;
			}
		}

		img {
			display: block;
			max-width: 100%;
			border-radius: 4px;
		}
	}
}

.bike-custom-components {
	display: flex;
	justify-content: center;
	background-color: #141414;
	width: 100%;
	height: 115vh;
	color: white;
	position: relative;

	.tools-photo {
		height: 130vh;
		width: 30%;
		object-fit: cover;
		top: -4rem;
		right: 7rem;
		position: absolute;
		object-position: start center;
	}

	.b-cc-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 75%;

		div {
			display: flex;
			width: 65%;
			flex-direction: column;
			gap: 2rem 0;

			h2 {
				font-size: 1.5rem;
				color: #b2b2b2;
			}
			h1 {
				font-size: 3rem;
			}
			p {
				font-size: 1.3rem;
				color: #b2b2b2;
			}

			#choose-bike {
				color: #ffc800;
				cursor: pointer;
				text-decoration: underline;

				&:hover {
					color: white;
				}
			}

			.mini-card-bcc-container {
				display: flex;
				flex-direction: row;
				gap: 0 1rem;

				div {
					display: flex;
					width: 100%;
					padding: 2rem 0;

					img {
						display: block;
						width: 1.5rem;
					}

					p {
						font-size: 1rem;
					}
				}
			}
		}
	}
}

.partner-container {
	padding: 8rem 0;
	display: flex;
	width: 100%;
	background-color: white;
	flex-direction: column;

	h1 {
		align-self: start;
		font-size: 4rem;
		margin-left: 10.3rem;

		span {
			color: #ffc800;
		}
	}

	ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 3rem 5rem;

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 3rem;
		}

		li:nth-child(n + 5) {
			border-top: 1px solid #d9d9d9;
		}
		li:nth-child(2n) {
			border-left: 1px solid #d9d9d9;
		}
		li:nth-child(2) {
			border-right: 1px solid #d9d9d9;
		}
		li:nth-child(6) {
			border-right: 1px solid #d9d9d9;
		}
	}
}

.testimony-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #ffbb00;
	height: 70vh;
	position: relative;

	.tc-photo {
		grid-column: 1/2;
		width: 100%;
		height: 100%;
		position: absolute;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.tc-info {
		grid-column: 2/3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 6rem 0 2rem 4rem;
		gap: 2rem 0;

		p {
			font-size: 1.5rem;
			font-style: italic;
			font-weight: 800;
			width: 70%;
		}
	}
}

.secures {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #141414;
	color: white;
	padding: 3rem 0;

	.secures-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: 3rem 0;
		width: 75%;
		padding: 3rem 0;

		h1 {
			font-size: 3rem;

			span {
				color: #ffbb00;
			}
		}

		.scc-container {
			display: flex;
			gap: 0 3rem;
		}

		.secures-card {
			display: flex;
			flex-direction: column;
			padding: 4rem;
			gap: 2.5rem;
			justify-content: space-between;
			background-color: black;
			border-radius: 5px;

			div {
				display: flex;
				justify-content: space-between !important;

				h1 {
					text-transform: uppercase;
					font-size: 2rem;
				}
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				font-size: 1rem;

				li {
					position: relative;

					&::before {
						content: url('../img/icones/lista.svg');
						position: absolute;
						left: -1.2rem;
					}
				}
			}

			button {
				padding: 1rem 1.5rem;
				border-radius: 4px;
				place-self: start;
				text-transform: uppercase;
				font-size: 1rem;
			}

			.btn-gold {
				color: black;
				background-color: #ffc800;
				font-weight: bold;
				cursor: pointer;

				&:hover {
					background-color: #e7a50c;
				}
			}

			.btn-silver {
				color: white;
				background-color: #aeaeae;
				font-weight: bold;
				cursor: pointer;

				&:hover {
					background-color: grey;
				}
			}
		}
	}
}

//////////////////////////////////////////////////////

@media (min-width: 1920px) {
	.home-container {
		div {
			h1 {
				font-size: 4.5rem;
			}

			p {
				font-size: 1.5rem;
				margin-bottom: 2rem;
			}

			button {
				font-size: 1.5rem;
				padding: 1.3rem 1.5rem;
			}
		}

		img {
			height: 88vh;
			width: 38rem;
		}
	}

	.bike-example {
		height: 120vh;

		h1 {
			font-size: 4rem;
			margin-left: 14rem;
		}
	}

	.bike-card {
		h2 {
			font-size: 2rem;
		}

		p {
			font-size: 1.5rem;
		}
	}

	.bike-custom-components {
		height: 100vh;

		.tools-photo {
			height: 115vh;
			width: 30%;
		}

		.b-cc-container {
			div {
				gap: 3rem 0;

				h1 {
					font-size: 4rem;
				}

				h2 {
					font-size: 2rem;
				}

				.mini-card-bcc-container {
					div {
						img {
							width: 2rem;
						}
						p {
							font-size: 1.1rem;
						}
					}
				}
			}
		}
	}

	.testimony-container {
		.tc-info {
			p {
				width: 80%;
				font-size: 2rem;
			}

			span {
				font-size: 1.5rem;
			}
		}
	}

	.secures {
		.secures-container {
			h1 {
				font-size: 4rem;
			}

			.secures-card {
				div {
					h1 {
						font-size: 2.5rem;
					}
				}

				ul {
					li {
						font-size: 1.5rem;
					}
				}

				button {
					padding: 1.3rem 1.8rem;
					border-radius: 5px;
					font-size: 1.4rem;
				}
			}
		}
	}
}

@media (max-width: 1050px) {
	.home-container {
		width: 90%;

		div {
			gap: 4rem;

			h1 {
				font-size: 4rem;
			}

			p {
				font-size: 1.5rem;
			}

			button {
				font-size: 1.5rem;
				padding: 1.5rem 1.8rem;
			}
		}

		img {
			height: 80vh;
			width: 50%;
			object-position: 70%;
		}
	}

	.bike-example {
		h1 {
			margin-left: 4rem;
		}

		.ex-card-container {
			padding: 3rem 1rem;
		}
	}

	.bike-custom-components {
		height: auto;

		.tools-photo {
			height: 110%;
			top: -3rem;
			right: 3rem;
		}

		.b-cc-container {
			padding: 5rem 0;

			.mini-card-bcc-container {
				width: 100%;

				p {
					font-size: 1.2rem;
				}
			}
		}
	}

	.partner-container {
		gap: 2rem 0;

		h1 {
			margin-left: 3rem;
		}

		ul {
			grid-template-columns: 1fr 1fr;

			li {
				padding: 2rem;
				border-bottom: 1px solid #d9d9d9;
			}
			li:nth-child(odd) {
				border-right: 1px solid #d9d9d9;
			}
			li:nth-child(even) {
				border-right: none;
			}
			li:nth-child(7) {
				border-bottom: none;
			}
			li:nth-child(8) {
				border-bottom: none;
			}
		}
	}

	.testimony-container {
		grid-template-columns: 1.5fr 1fr;
		height: auto;

		.tc-info {
			margin: 3rem 1.5rem;
			p {
				width: 100%;
			}
		}
	}

	.secures {
		.secures-container {
			width: 90%;
			gap: 3rem;

			.scc-container {
				gap: 0 1.5rem;
			}

			.secures-card {
				padding: 3rem;
			}
		}
	}
}

@media (max-width: 799px) {
	.home-container {
		display: flex;
		height: 35rem;
		width: 90%;

		div {
			place-content: normal;
			gap: 2rem 0;
			padding: 1.5rem 0;

			h1 {
				font-size: 2rem;
			}

			p {
				font-size: 1rem;
			}

			button {
				padding: 1rem 1rem;
				font-size: 0.8rem;
			}
		}

		img {
			border-radius: 4px;
			bottom: -4rem;
			width: 100%;
			height: 15em;
		}
	}

	.bike-example {
		height: 50rem;

		h1 {
			margin-left: 1rem;
			font-size: 2rem;
		}

		.ex-card-container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			padding: 1.5rem 1rem;
			overflow-x: scroll;
			gap: 1rem;
			height: 100%;
		}

		.bike-card {
			&:hover {
				h2 {
					margin: 0;
				}
				p {
					margin: 0;
					color: initial;
				}
				h2::before {
					content: initial;
				}
			}

			img {
				width: 20rem;
				max-width: auto;
			}
		}
	}

	.bike-custom-components {
		.tools-photo {
			display: none;
		}

		.b-cc-container {
			width: 90%;

			div {
				width: 100%;

				h1 {
					font-size: 2rem;
				}

				p {
					font-size: 1rem;
				}

				.mini-card-bcc-container {
					flex-direction: column;
					gap: 1rem 0;
				}
			}
		}
	}

	.partner-container {
		padding: 4rem 0;

		h1 {
			font-size: 2rem;
			margin-left: 1rem;
		}

		ul {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(4, 1fr);
			padding: 0;

			li {
				padding: 0.5rem 0;

				img {
					display: block;
					max-width: 60%;
				}
			}
		}
	}

	.testimony-container {
		display: none;
	}

	.secures {
		.secures-container {
			padding: 1.5rem 0;
			width: 90%;

			h1 {
				font-size: 2rem;
			}

			.scc-container {
				flex-direction: column;
				gap: 3rem 0;
			}

			.secures-card {
				padding: 3rem;

				div {
					h1 {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}
